@{
    ViewBag.Title = "Index";
}

<div>
    <h2 style="font-size:25px">Günümüzdeki En Yaygın 10 Siber Saldırı</h2>
</div>

<hr />

<br />

<div style="font-size:18px">
    <table class="table table-bordered">
        <tr>
            <th>1) Malware</th>
        </tr>
        <tr>
            <td>Malware kötü niyetli yazılımların kısaltmasıdır. Solucanlar, virüsler, truva atları bunlara örnek olarak verilebilir. Kişilerin izni olmadan bilgisayar sistemlerine sızdırılan kötü amaçlı yazılımlardır. Bilgisayarları veya ağları çalışamaz hale getirebilir, gizlenebilir, çoğalabilir veya saldırganlara erişim izni verip sistemi uzaktan kontrol edebilme şansı verebilirler.</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>2) Phishing</th>
        </tr>
        <tr>
            <td>Kimlik avı saldırıları olarak adlandırılan bu yöntemde ise saldırganlar kişilere güvenilir kaynaklardan gelmiş gibi gösterilen e-postalar yollayarak kişilerin site bilgilerini, kredi kartı bilgilerini çalmaya çalışırlar. Genellikle e-posta yoluyla gönderdikleri linklere tıklayan mağdurlar, klonlanmış sitelere yönlendirilir ve girdikleri bilgileri saldırganlarla paylaşmış olurlar.</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>3) DoS ve DDoS</th>
        </tr>
        <tr>
            <td>İngilizce açılımı Denial of Services ve Distributed Denial of Services olan bu yöntemler ise bazı çevrimiçi hizmetlerin düzgün çalışmasını engellemeye çalışmak için yapılan saldırılardır. Saldırganlar bir web sitesine veya bir veri tabanına çok fazla sayıda istek yollayıp sistemi meşgul ederler ve bu da sistemlerin çalışmasını durdurmasına yol açabilir. DDoS ise bu saldırıların birden fazla bilgisayardan yapılması ile olur.</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>4) Man in The Middle</th>
        </tr>
        <tr>
            <td>Bu siber saldırı çeşidinde ise saldırganlar kurbanlar ile erişmek istedikleri web servisi arasında kendilerini gizleyerek, kurbanları kendi ağları üzerinden erişmek istedikleri servise yönlendirirler. Örneğin bir Wi-Fi ağını taklit ederler ve kurbanlar erişmek istedikleri Wi-Fi ağı yerine saldırganların Wi-Fi ağına girmiş olurlar. Bundan sonraki yaptıkları her işlemi saldırganlar görebilir ve kullanıcıların verilerini toplayabilirler.</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>5) SQL Injection</th>
        </tr>
        <tr>
            <td>Günümüzde birçok veri tabanı SQL ile yazılmış komutlara uymak için tasarlanmıştır ve kullanıcılardan bilgi alan birçok web sitesi bu verileri SQL veri tabanlarına gönderir. Saldırganlar SQL güvenlik açıklarından faydalanarak kurbanların veri tabanlarını kontrol altına alırlar. Örneğin bir SQL enjeksiyon saldırısında bir bilgisayar korsanı, bazı SQL komutlarını ad ve adres bilgisi isteyen bir web formuna yazar; web sitesi ve veri tabanı doğru programlanmadıysa, veri tabanı bu komutları çalıştırmayı deneyebilir.</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>6) Cryptojacking</th>
        </tr>
        <tr>
            <td>Cryptojacking, başkasının bilgisayarının sizin için cryptocurrency üretme işini yapmasını içeren özel bir saldırıdır. Saldırganlar gerekli hesaplamaları yapmak için kurbanın bilgisayarına kötü amaçlı yazılım yüklerler veya bazen kötü amaçla kullandıkları kodları kurbanın tarayıcısında çalışan JavaScript'te çalıştırırlar.</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>7) Zero Day Exploit</th>
        </tr>
        <tr>
            <td>Adını bir yama yayınlandıktan sonra, kullanıcıların güvenlik güncellemelerini indirirken az sayıda bilgisayara ulaşmalarından alır. Yazılımdaki açıklar henüz daha düzeltilmemiştir ve bu da saldırganlara fırsat sağlar. Bu tür güvenlik açıklarından yararlanma teknikleri günümüzde Darkweb üzerinden yayınlanmakta veya satılmaktadır.</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>8) Passwords Attack</th>
        </tr>
        <tr>
            <td>Şifreleme bir sisteme girerken kullandığımız en yaygın mekanizma olduğundan, parola saldırıları en yaygın saldırılar arasındadır. Brute Force olarak adlandırılan bir çeşidinde şifre tahmini için aralıksız olarak rastgele şifre deneyen bir kötü amaçlı teknik kullanılır. Bunu engellemenin en kolay yolu çok kez denenen parola girişiminin ardından kendini kilitleyen bir hesap kilitleme politikası uygulamaktır.</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>9) Eavesdropping Attack</th>
        </tr>
        <tr>
            <td>Bu saldırı tipinde saldırganlar bir ağa sızarlar ve gizlice dinleme yaparak kullanıcıların o ağ üzerinden göndereceği kredi kartı bilgileri, şifreler ve konuşmalar gibi kişisel verileri dinlerler. Pasif olan yönteminde genellikle sadece dinleme yaparak bilgiler toplanır fakat aktif yönteminde ise saldırganlar kullanıcılara ağdaki dost bir birim gibi gözükerek sorular sorarak bilgi toplarlar.</td>
        </tr>
    </table>
    <table class="table table-bordered">
        <tr>
            <th>10) Birthday Attack</th>
        </tr>
        <tr>
            <td>Doğum günü saldırıları, bir mesajın, yazılımın veya dijital imzanın bütünlüğünü doğrulamak için kullanılan karma algoritmalara karşı yapılır. Bir karma işlevi tarafından işlenen bir mesaj, giriş mesajının uzunluğundan bağımsız olarak sabit uzunlukta bir mesaj özeti (MD) üretir. Bu MD, mesajı benzersiz bir şekilde karakterize eder. Doğum günü saldırısı, bir karma işlevi tarafından işlendiğinde aynı MD'yi üreten iki rastgele mesaj bulma olasılığını ifade eder. Bir saldırgan, kullanıcısı olduğu gibi mesajı için aynı MD'yi hesaplarsa, kullanıcının mesajını güvenle onunla değiştirebilir ve alıcı MD'leri karşılaştırsa bile değiştirmeyi tespit edemez.</td>
        </tr>
    </table>
</div>
