
@{
    ViewBag.Title = "threeDMap";
    Layout = "~/Views/Shared/CyberAlert.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 12px;
            cursor: pointer;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 12px;
            margin-right: 10px;
            margin-bottom: 10px;
            transition: background-color 0.3s ease;
        }

            /* Butonun üzerine gelindiğinde arka plan rengini değiştir */
            .button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <hr />

    <div style="display: inline-block;">
        <p style="border: 2px solid; padding: 5px 10px">
            Tarih Giriniz ( 2014 - 2016 ): <input type="text" id="tarih" style="color: #000; border: 1px solid #ccc; border-radius: 4px; padding: 5px 10px; margin-right: 10px;" placeholder="YYYY" />
            <input style="color: #fff; border: none; border-radius: 4px; background-color: #007bff; transition: background-color 0.3s ease; padding: 5px 10px; " type="submit" value="Ara" id="arama" />
        </p>
    </div>

    <div style="display: inline-block; margin-left: 50px">
        <p>🟩 - Hafif Saldırılar | 🟦 - Orta Saldırılar | 🟥 - Ağır Saldırılar</p>
    </div>

    <br />

    <button id="to2dMap" class="button">2D Dünya Haritası</button>

    <iframe id="2014" style="display:none;width:1200px;height:700px;margin-left:350px;margin-top:50px" src="~/World_Map/Worlds/2014.html"></iframe>
    <iframe id="2015" style="display:none;width:1200px;height:700px;margin-left:350px;margin-top:50px" src="~/World_Map/Worlds/2015_date.html"></iframe>
    <iframe id="2016" style="display:none;width:1200px;height:700px;margin-left:350px;margin-top:50px" src="~/World_Map/Worlds/2016_date.html"></iframe>

    <script>
        document.getElementById("arama").addEventListener("click", function (event) {
            var tarihInput = document.getElementById("tarih").value;
            if (tarihInput === "2014") {
                event.preventDefault(); // Sayfanın yeniden yüklenmesini engeller
                document.getElementById("2014").style.display = "block";
                document.getElementById("2015").style.display = "none";
                document.getElementById("2016").style.display = "none";
            }
            else if (tarihInput === "2015") {
                event.preventDefault(); // Sayfanın yeniden yüklenmesini engeller
                document.getElementById("2015").style.display = "block";
                document.getElementById("2014").style.display = "none";
                document.getElementById("2016").style.display = "none";
            }
            else if (tarihInput === "2016") {
                event.preventDefault(); // Sayfanın yeniden yüklenmesini engeller
                document.getElementById("2016").style.display = "block";
                document.getElementById("2014").style.display = "none";
                document.getElementById("2015").style.display = "none";
            }
        });

        document.getElementById("to2dMap").onclick = function (event) {
            event.preventDefault();
            window.location.href = "/WorldMap/Index";
        };
    </script>
</body>
</html>
